# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpetas que no quieres subir
data/
PO_reader_test/
